@font-face{
	font-family: 'Open Sans';
	src: url(fonts/OpenSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Open Sans';
	src: url(fonts/OpenSans-Light.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'Open Sans';
	src: url(fonts/OpenSans-Semibold.ttf);
	font-weight: 600;
	font-style: bold;
}
@font-face{
	font-family: 'Open Sans';
	src: url(fonts/OpenSans-Bold.ttf);
	font-weight: 700;
}
body{
	margin: 5px 0 0 0;
	min-width: 1024px;
}

	/* navigation bar */
header{
	font-family: Helvetica;
	z-index: 1000;
	position: relative;
	padding-left: 1%;
	height: 30px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.logo{
	position: relative;
	max-height: 23px;
	float: left;
	left: 2%;
}
.menu{
	display: inline-flex;
}
.menu ul:first-child{
	margin: 0;
}
.menu ul:first-child a{
	padding: 12.5px 30px;
}
.topmenu{
	list-style: none;
	display: inline-flex;
}
.topmenu li a{
	text-decoration: none;
	color: #2F2F2F;
	width: 150px;
}
.topmenu a:focus, a:hover{
	background-color: #f2f2f2;
}

.submenu li:hover{
	background-color: #e5e5e5;
	transition: background-color 0.2s linear 0s;
}
.submenu a:hover{
	background-color: transparent;
}
.submenu{
	position: absolute;
	top: 30px;
	background-color: #f2f2f2;
	width: 255px;
	padding: 0;
	list-style: none;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.submenu li{
	padding: 15px 0 15px 0;
}
.submenu a{
	padding-left: 20px;
}
.submenu li:hover .subsubmenu{
	margin-left: 255px;
	top: 0;
	padding: 0;
	list-style: none;
	display: block;
	position: absolute;
	background-color: #e5e5e5;
	width: 255px;
	min-height: 100%;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.subsubmenu{
	display: none;
}
.subsubmenu li:hover{
	background-color: #ccc;
}

input[type="search"]{
	position: absolute;
	right: 15%;
	box-sizing: border-box;
	width: 220px;
	height: 25px;
	border: 1px solid #A9A9A9;
	border-right: 0;
	color: #2F2F2F;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	outline: none;
	padding-left: 10px;
	font-size: 16px;
}
.search-icon{
	position: absolute;
	right: 15%;
	top: 0;
	padding: 4px 5px 3px 0;
	width: 17px;
	border: 1px solid #A9A9A9;
	border-left: 0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	cursor: pointer;
	background: white;
}
.shop-cart{
	top: -30%;
	position: absolute;
	height: 39px;
	width: 40px;
	right: 11%;
}
.cart-icon{
	position: relative;
	left: 30%;
	top: 30%;
	width: 15px;
}
.log-in{
	line-height: 37px;
	position: absolute;
	top: -7px;
	right: 6%;
	text-decoration: none;
	color: #2F2F2F;
	font-family: Helvetica;
	font-size: 12px;
	padding: 0 15px;
}
.log-in:hover{
	color: #0078d7;
}

	/* main */
.hero-banner{
	font-family: 'Open Sans', Helvetica;
	background: url('img/herobanner.jpg') #f7f7f7 100% center no-repeat;
	background-size: contain;
	width: 100%;
	height: 600px;
	color: #47525d;
}
.top-section h1, .top-section h2{
	font-weight: 300;
	max-width: 500px;
	min-width: 200px;
	width: 30%;
	margin: 0;
}
.top-section h1{
	font-size: 2.5em;
	padding: 50px 0 0 0;
}
.top-section h2{
	font-size: 1.3em;
	line-height: 1.5em;
	padding: 30px 0 0 0;
}
.primary{
	display: block;
	width: 700px;
	background: #0071e0;
	text-decoration: none;
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: 21px;
	padding: 15px;
	margin: 50px 0 0 0;
	border-radius: 6px;
}
.primary:hover{
	background: #007ee5;
}
@media screen and (max-width: 1400px){
	.primary{
		width: 580px;
		font-size: 16px;
	}
}
@media screen and (max-width: 1300px){
	.top-section h1 {
  	font-size:2em;
  }
  .top-section h2 {
  	font-size: 1.5em;
  }
	.primary{
		width: 450px;
		font-size: 14px;
	}
}
@media screen and (max-width: 1200px){
	.hero-banner{
		background-position: 300px center;
	}
	.top-section h1 {
  	font-size:1.5em;
  }
  .top-section h2 {
   	font-size: 1em;
  }
	.primary{
		width: 400px;
		font-size: 12px;
	}
}
.buynow{
	display: block;
	margin: 30px 0 0 0;
}
.buynow a{
	text-decoration: none;
	color: #0071e0;
	border-bottom: 1px solid #0071e0;
}
.buynow a:hover{
	color: #2895F1;
	background-color: transparent;
}
.top-section h1, .top-section h2, .primary, .buynow{
	margin-left: 20%;
}
@media screen and (max-width: 1450px){
	.top-section h1, .top-section h2, .primary, .buynow{
		margin-left: 10%;
	}
}
@media screen and (max-width: 1250px){
	h1, h2, .primary, .buynow{
		margin-left: 60px;
	}
	.top-section h2{
		padding-top: 15px;
	}
	.primary{
		margin-left: 10%;
		margin-top: 30px;
	}
	.buynow{
		margin-top: 15px;
		margin-left: 10%;
	}
}

.signup-wrapper{
	background: #323a45;
	font-family: 'Open Sans', Helvetica;
	text-align: center;
	padding: 150px 0 145px;
}
.inside h2{
	color: white;
	font-weight: 300;
	font-size: 30px;
	margin: 0 0 55px 0;
}
form{
	display: inline-block;
	margin-bottom: 30px;
}
form p{
	display: block;
	position: relative;
	float: left;
	margin: 0;
	font-size: 18px;
	line-height: 1.8em;
}
form i{
	position: absolute;
	top: 15px;
	left: 15px;
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	background-image: url(img/global.png);
	background-repeat: no-repeat;
}
.ico-user{	
	background-position: 0 -474px;
}
.ico-email{
	background-position: 0 -386px;
}
.ico-password{
	background-position: 0 -430px;
}
input[type="text"], input[type="password"]{
	font-size: 18px;
	line-height: 1em;
	width: 215px;
	height: 25px;
	padding: 18px 15px 15px 48px;
	border-radius: 3px;
	border: 1px solid #d4d7da;
	margin-right: 10px;
	color: #8a959e;
	outline: none;
}
input::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0.5; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder {opacity: 0.5; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder {opacity: 0.5; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder {opacity: 0.5; transition: opacity 0.3s ease;}
.button{
	display: block;
	padding: 14px 40px;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background 0.3s;
	background: #ff3366;
	color: white;
	font-size: 15px;
	font-weight: 700;
	border: 0;
}
.button:hover{
	background: #f42156;
}
.terms{
	color: #747c83;
	font-size: 12px;
}
.terms a{
	color: #747c83;
}
.terms a:hover{
	color: white;
	background: none;
}

	/* subscribe */
.hover-effect a{
	margin-left: -4px;
	margin-bottom: -4px;
	background-color: #282828;
	display: inline-block;
	width: 33.41%;
	height: 300px;
	font-family: Helvetica;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}
.hover-effect h4, .hover-effect h3{
	position: relative;
	z-index: 2;
}
.hover-effect h4{
	margin-top: 135px;
	text-transform: uppercase;
	color: #a4a5a6;
	font-size: 12px;
	margin-bottom: 0;
	letter-spacing: 2px;
}
.hover-effect h3{
	color: white;
	font-size: 22px;
	margin-top: 0;
}
.bg{
	opacity: .3;
	position: relative;
	margin-top: -225px;
	height: 130%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	transition: all 0.3s;
}
.eve{
	background-image: url('img/eve-valkyrie.jpg');
}
.fox{
	background-image: url(img/luckys-tale.jpg);
}
.stage{
	background-image: url(img/oc3-stage-image.jpg);
}

	/* footer */
footer{
	font-family: 'Myriad Pro', Helvetica;
	letter-spacing: normal;
	background-color: #f2f2f2;
	color: #666;
	z-index: 1;
}
.directory{
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 22px;
}
.columns{
	padding-top: 30px;
	line-height: 1.6;
	position: relative;
	font-size: 12px;
}
.directory-column{
	vertical-align: top;
	display: inline-block;
	width: 19.8%;
}
.columns h3{
	color: #333;
	margin: 0;
	font-size: 12px;
}
.column-section{
	display: block;
	list-style: none;
	padding: 0;
	margin-right: 20px;
	margin-top: 0;
}
.column-section a{
	color: #666;
	text-decoration: none;
}
.column-section a:hover{
	text-decoration: underline;
	background: none;
}
.under-nav{
	font-size: 12px;
	color: #999;
	padding: 20px 0 24px;
}
.under-nav a{
	text-decoration: none;
}
.under-nav a:hover{
	text-decoration: underline;
	color: #666;
}
.footer-shop{
	border-bottom: 1px solid #e3e3e3;
	display: block;
	line-height: 20px;
	padding-bottom: 5px;
}
.footer-shop a{
	color: #08c;
}
.footer-legal{
	margin: 0;
	display: inline-block;
	margin-right: 26px;
}
.footer-legal-copyright{
	display: inline-block;
	/*margin-right: 26px;*/
}
.footer-legal-copyright a{
	margin-right: 10px;
	padding-right: 12px;
	border-right: 1px solid #d6d6d6;
	text-decoration: none;
	color: #666;
}
.footer-legal-copyright a:last-child{
	border-right: none;
}
.footer-legal-copyright a:hover{
	text-decoration: underline;
}