/* шрифты */
/* шрифты */
@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora.eot');
  src: local('☺'), url('fonts/Lora.ttf') format('truerype'), url('fonts/Lora.otf') format('opentype'), url('fonts/Lora.woff') format('woff'), url('fonts/Lora.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LoraBold';
  src: url('fonts/LoraBold.eot');
  src: local('☺'), url('fonts/LoraBold.ttf') format('truetype'), url('fonts/LoraBold.otf') format('opentype'), url('fonts/LoraBold.woff') format('woff'), url('fonts/LoraBold.svg#font') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Sunday';
  src: url('fonts/Sunday.eot');
  src: local('☺'), url('fonts/Sunday.woff') format('woff'), url('fonts/Sunday.ttf') format('truetype'), url('fonts/Sunday.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* цвета */
body {
  background-color: #394248;
  margin: 0;
  margin: 0;
  background-color: #394248;
  /* end .main */

}
body ::selection {
  background-color: #394248;
  color: #ffffff;
}
body ::-moz-selection {
  background-color: #394248;
  color: #ffffff;
}
body b {
  font-family: LoraBold;
}
body .main {
  width: 1024px;
  margin: 0 auto 10px auto;
  /* название книги */

}
body .main header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: inherit;
  height: 40px;
  background: #263a3a;
  background: linear-gradient(to top, #1d2c2c, #263a3a);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
body .main header a {
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  width: 100%;
  height: inherit;
  display: block;
  background: linear-gradient(to top, #1d2c2c, #263a3a);
  font-family: Lora;
  font-size: 18px;
  color: #ffffff;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  transition: .3s ease;
}
body .main header a:hover {
  background: #2a4040;
  font-size: 20px;
}
body .main header a:first-child {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}
body .main header a.is-active {
  background: #2a4040;
  font-size: 20px;
}
body .main .hero {
  width: 100%;
  height: 440px;
  background-image: url('img/img1.jpg');
  background-repeat: no-repeat;
  box-shadow: inset 0 6px 10px -4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
body .main .hero .headers {
  font-family: Sunday;
  margin: 0;
  color: white;
  text-align: center;
  text-shadow: 0 4px 10px black;
}
body .main .hero h1 {
  font-family: Sunday;
  margin: 0;
  color: white;
  text-align: center;
  text-shadow: 0 4px 10px black;
  font-size: 72px;
}
body .main .hero h2 {
  font-family: Sunday;
  margin: 0;
  color: white;
  text-align: center;
  text-shadow: 0 4px 10px black;
  font-size: 48px;
  padding-top: 70px;
}
body .main .contentwrap {
  margin: 0 auto;
  width: 700px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  color: #263a3a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* вкладки */

}
body .main .contentwrap h3 {
  font-family: Sunday;
  font-size: 24px;
  margin: 0 0 30px;
  text-align: center;
}
body .main .contentwrap .tab {
  display: none;
}
body .main .contentwrap .tab.is-active {
  display: block;
}
body .main .contentwrap .tab p {
  font-size: 18px;
  line-height: 1.5;
  text-indent: 30px;
  margin: 10px 0 0 0;
  text-align: justify;
}
body footer {
  /* кнопка наверх */

}
body footer .top {
  width: 50px;
  height: 50px;
  background: url('img/arrow.svg') no-repeat #bba989 center;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 50px;
  display: none;
  opacity: .5;
  border-radius: 5px;
}
